<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create book</title>
</head>
<body>
<h1>Create book</h1>
<p>
    <a th:href="@{/list}">Back to list</a>
</p>
<p>
    <a th:text="${message}"></a>
</p>
<fieldset>
    <legend>Fill form</legend>
    <form action="/create" method="post" th:object="${book}">
        <table>
            <tr>
                <td>Code:</td>
                <td>
                    <input type="text" th:field="*{bookCode}">
                    <a th:if="${#fields.hasErrors('bookCode')}" th:errors="*{bookCode}">Name error</a>
                </td>
            </tr>
            <tr>
                <td>Price:</td>
                <td>
                    <input type="text" th:field="*{price}">
                    <a th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Name Error</a>
                </td>
            </tr>
            <tr>
                <td>Status:</td>
                <td>
                    <input type="text" th:field="*{status}">
                    <a th:if="${#fields.hasErrors('status')}" th:errors="*{status}">Name Error</a>
                </td>
            </tr>
            <tr>
                <td>Discount:</td>
                <td>
                    <input type="text" th:field="*{discount}">
                    <a th:if="${#fields.hasErrors('discount')}" th:errors="*{discount}">Name Error</a>
                </td>
            </tr>
            <tr>
                <td>Company:</td>
                <td>
                    <input type="text" th:field="*{company}">
                </td>
            </tr>
            <tr>
                <td>Number:</td>
                <td>
                    <input type="text" th:field="*{number}">
                    <a th:if="${#fields.hasErrors('number')}" th:errors="*{number}">Name Error</a>
                </td>
            </tr>
            <tr>
                <td>Description:</td>
                <td>
                    <input type="text" th:field="*{desciption}">
                </td>
            </tr>
            <tr>
                <td>Category:</td>
                <td>
                    <select th:field="*{category}">
                        <option th:each="c:${category}" th:value="${c.id}" th:text="${c.name}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="create">
                </td>
            </tr>
        </table>
    </form>
</fieldset>
</body>
</html>