<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete book</title>
</head>
<body>
<h1>Delete book</h1>
<p>
    <a th:href="@{/list}">Back to list</a>
</p>
<fieldset>
    <legend>Delete form</legend>
    <form action="/delete" method="post" th:object="${book}">
        <input type="hidden" th:field="*{id}">
        <table>
            <tr>
                <td>Code:</td>
                <td>
                    <a th:text="${book.bookCode}" th:field="*{bookCode}"></a>
                </td>
            </tr>
            <tr>
                <td>Price:</td>
                <td>
                    <a th:text="${book.price}" th:field="*{price}"></a>
                </td>
            </tr>
            <tr>
                <td>Status:</td>
                <td>
                    <a th:text="${book.status}" th:field="*{status}"></a>
                </td>
            </tr>
            <tr>
                <td>Discount:</td>
                <td>
                    <a th:text="${book.discount}" th:field="*{discount}"></a>
                </td>
            </tr>
            <tr>
                <td>Company:</td>
                <td>
                    <a th:text="${book.company}" th:field="*{company}"></a>
                </td>
            </tr>
            <tr>
                <td>Number:</td>
                <td>
                    <a th:text="${book.number}" th:field="*{number}"></a>
                </td>
            </tr>
            <tr>
                <td>Description:</td>
                <td>
                    <a th:text="${book.desciption}" th:field="*{desciption}"></a>
                </td>
            </tr>
            <tr>
                <td>Category:</td>
                <td>
                    <a th:text="${book.category.name}" th:field="*{category}"></a>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Delete">
                </td>
            </tr>
        </table>
    </form>
</fieldset>
</body>
</html>